@use "./Helpers/Variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Rubik", sans-serif;
  color: $third-color;
}
a {
  text-decoration: none;
}
ul,
p {
  margin: 0;
}
input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}
