$main-color: rgba(224, 7, 7, 1);
$main-color-hover: rgb(184, 29, 34);
$secondary-color: #fff;
$secondary-color-hover: #ffffff4d;
$third-color: rgba(45, 46, 47, 1);
$third-color-hover: rgb(231 231 231);
