@use "../Helpers/Variables" as *;

.heroSec {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;

  &.sale {
    background-image: url("../../Assets/for-sale-hero-img.webp");
  }
  &.rent {
    background-image: url("../../Assets/for-rent-hero-img.webp");
  }
  &::after {
    background-image: linear-gradient(90deg, #0006, #0000001a 55%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .box {
    z-index: 1;
    .content {
      color: $secondary-color;

      .heading {
        font-weight: 600;
        font-size: 38px;
        @media (min-width: 576px) {
          font-size: 60px;
        }
      }
      .info {
        font-weight: 300;
        font-size: 17px;
        @media (min-width: 576px) {
          font-size: 22px;
        }
      }
    }
  }
}
