@use "../Helpers/Variables" as *;
%background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.heroSec {
  height: 100vh;
  @extend %background;
  &.sale {
    background-image: url("../../Assets/for-sale-hero-img.webp");
  }
  &.rent {
    background-image: url("../../Assets/for-rent-hero-img.webp");
  }
  &::after {
    background-image: linear-gradient(90deg, #0006, #0000001a 55%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .box {
    z-index: 1;
    .content {
      color: $secondary-color;

      .heading {
        font-weight: 600;
        font-size: 38px;
        @media (min-width: 576px) {
          font-size: 60px;
        }
      }
      .info {
        font-weight: 300;
        font-size: 17px;
        @media (min-width: 576px) {
          font-size: 22px;
        }
      }
    }
  }
}
.trendSec {
  .overlay {
    background-image: linear-gradient(90deg, #0006, #0000001a 55%);
  }
  background-image: url(../../Assets/trend-sec.webp);
  @extend %background;
  padding: 80px 15px;
  color: #fff;
  .content {
    z-index: 1;
    .heading {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 20px;
      @media (min-width: 568px) {
        font-size: 15px;
      }
    }
    .info {
      font-weight: 600;
      font-size: 15px;
      max-width: 600px;
      @media (min-width: 568px) {
        font-size: 22px;
      }
    }
  }
}
.servicesSec {
  padding: 60px 0;
  .content {
    .heading {
      font-size: 18px;
      margin-bottom: 6px;
    }
    .info {
      color: #787878;
    }
  }
}
